.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.inputSection {
  padding: 2rem 0;
}
